html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map-container {
	height: 100%;
	position: relative;
}

#map-canvas {
	height: 100%;
}

#map-sidebar {
	height: 100%;
	width: 210px;
	float: left;
	overflow: auto;
	border-right: 1px solid grey;
}

#map-bottom {
	clear: both;
}

.sidebar-item {
	width: 200px;
	padding: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	border-bottom: 1px solid grey;
	position: relative;
	white-space: no-wrap;
}

.sidebar-item:hover {
	background-color: #D0F0FF;
}

/* TODO: a good candidate for mixins, if we ever move to LESS */
.sidebar-item-active {
	width: 200px;
	padding: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	border-bottom: 1px solid grey;
	position: relative;
	white-space: no-wrap;
	background-color: #bbffcd;
}

.sidebar-item-active:hover {
	background-color: #7ceadc;
}

.sidebar-image {
	width: 180px;
	margin: 10px auto;
}

.sidebar-heading {
	font-weight: bold;
	font-size: 120%;
	cursor: default;
}

.sidebar-subheading {
	font-size: 90%;
	cursor: default;
}
